body{
  font-family: 'Lato', sans-serif;
  background-color:#FFF url('http://subtlepatterns.com/patterns/cream_pixels.png');

  
}

h1 {
  text-align:center;
  font-weight:normal;
  font-size:2.4em;
  color:#666;
  margin:50px 0;
  box-shadow :0 -7px 16px rgba(0,0,0,0.37);
  box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;	
	border-spacing: 0px;
	border-radius: 10px;
  box-shadow: 0 12px 16px rgba(0,0,0,0.37);
}

ul#menu {
  margin:0;
  padding:0;
  width: 100%;
  display: table;
  table-layout: fixed; /* optional */
  
  }

  li{
    display: table-cell;
    width: auto;
    text-align: center;
    background-color:#F24B6A;/* fushia*/
    font-size: .8em;
  	margin: 0 auto;
    width: 96%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
  }
  
  a{
    padding:20px;
    text-decoration:none;
    color:white;
    display:block;
    width:100%;
    height:100%;
    border-collapse: separate;
    border-spacing: 0px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    text-transform:uppercase;
    border-bottom:10px solid;     
        }

li:nth-child(2) 
a{
  background-color:#A62E4E;
  border-bottom-color:darken(#A62E4E,5);
  &:hover{
      background-color:lighten(#A62E4E,5);
      border-bottom-color: #A62E4E;
    }
}

li:nth-child(3) 
a{
  background-color:#43143E;
  border-bottom-color:darken(#43143E,5);
  &:hover{
      background-color:lighten(#43143E,5);
      border-bottom-color: #43143E;
    }
}

li:nth-child(4) 
a{
  background-color:#47AABE;
  border-bottom-color:darken(#47AABE,5);
  &:hover{
      background-color:lighten(#47AABE,5);
      border-bottom-color: #47AABE;
    }
}
