
#theme-form {


-webkit-box-shadow: 0px 0px 14px 8px rgba(143,181,207,0.53);
-moz-box-shadow: 0px 0px 14px 8px rgba(143,181,207,0.53);
}


.input_date {
	width: 35%;
}

.input_Nbplace {
	width: 10%;
}
.input_postal{
	width: 20%;
}
.input_theme{
	width: 80%;
	position:center;
}

.input_envoie {
	padding:5px;
	width: 20%;
	background-color: #bcde9e;
	color:#387300;
	position:center;
}

.input_lieu {
	width: 35%;
}