
#exit,#plus{
	-moz-box-shadow: 2px 2px 5px 3px #9b9b9b;
	-webkit-box-shadow: 2px 2px 5px 3px #9b9b9b;
	-o-box-shadow: 2px 2px 5px 3px #9b9b9b;
	box-shadow: 2px 2px 5px 3px #9b9b9b;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=134, Strength=5);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	float:right;
	height:20px;
	width: 20px;
}

#croix
{
	float:right;
	height:20px;
	width: 20px;
}

#logout{

    float:left;
	height:20px;
	width: 20px;
	background-color: #FA8989; 
	background-image: -moz-linear-gradient(top, #D04848, #FA8989); 
	background-image: -ms-linear-gradient(top, #D04848, #FA8989); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D04848), to(#FA8989)); 
	background-image: -webkit-linear-gradient(top, #D04848, #FA8989); 
	background-image: -o-linear-gradient(top, #D04848, #FA8989); 
	background-image: linear-gradient(top, #D04848, #FA8989); 
	background-repeat: repeat-x; 
    moz-border-radius: 30px;
   -webkit-border-radius: 30px;
    border-radius: 30px;
}

#login{

	float:left;
	height:20px;
	width: 20px;
	background-color: #4a77d4; 
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; 
    moz-border-radius: 45px;
   -webkit-border-radius: 45px;
    border-radius: 45px;

}

#login1{
	
	float:right;
	height:20px;
	width: 20px;
	background-color: #4a77d4; 
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; 
    moz-border-radius: 30px;
   -webkit-border-radius: 30px;
    border-radius: 30px;

}

#home {
	float:left;
	height:20px;
	width: 20px;
}

.connect{

	padding:10px;
border-radius: 72px 72px 72px 72px;
-moz-border-radius: 72px 72px 72px 72px;
-webkit-border-radius: 72px 72px 72px 72px;
border: 1px solid #315221;
background-color: #a2cccf;

}

#connecter{

	height:30px;
	width: 30px;
    border-radius: 30px;
	background-color: #4a77d4; 
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	height:50px;
	width: 50px;
    border-radius: 50px;

}


.utilisateur{
	position:absolute;
	text-align: center;
	right:120px;
	top:80px;
	width: 200px;	
}

.wlcme
{
	color:white;
}

.chargement{
	float:right;
	margin-right: : 115px;
	width:30px;
	height: 30px;
	display: block;
	background: URL('../img/chargement.gif');
}
