@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.btn { 
	overflow: auto;
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
	padding: 4px 10px 4px; 
	margin-bottom: 0; font-size: 13px; 
	line-height: 18px; color: #333333; 
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
	vertical-align: middle; background-color: #f5f5f5; 
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); 
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); 
	background-image: linear-gradient(top, #ffffff, #e6e6e6); 
	background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
	border-color: #e6e6e6 #e6e6e6 #e6e6e6; 
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
	border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; 
	border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
	cursor: pointer; 
	*margin-left: .3em; 
	}

.btn:hover, 
.btn:active, 
.btn.active, 
.btn.disabled, 
.btn[disabled] { 
	background-color: #e6e6e6; 
				}
.btn-large { 
	padding: 9px 14px; 
	font-size: 15px; 
	line-height: 
	normal; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
			}
.btn:hover { 
	color: #333333; 
	text-decoration: none; 
	background-color: #e6e6e6; 
	background-position: 0 -15px; 
	-webkit-transition: background-position 0.1s linear; 
	-moz-transition: background-position 0.1s linear; 
	-ms-transition: background-position 0.1s linear; 
	-o-transition: background-position 0.1s linear; transition: 
	background-position 0.1s linear; 
			}
.btn-primary, 
.btn-primary:hover { 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	color: #ffffff; }

.btn-primary.active { 
	color: rgba(255, 255, 255, 0.75); 
					}

.btn-primary 
{ 
	background-color: #4a77d4; 
	background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; 
	filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
	border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); 
}

.btn-primary:hover, 
.btn-primary:active, 
.btn-primary.active, 
.btn-primary.disabled, 
.btn-primary[disabled] 
{ 
	filter: none; background-color: #4a77d4; 
}
.btn-block { 
	width: 100%; 
	display:block; 
}


body { 

	background-color: rgba(235,233,249,1);
	background: @include filter-gradient(#ebe9f9, #c1bfea, horizontal);
	background: @include background-image(radial-gradient(center, ellipse cover, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%));
	width: 100% ;
	height:100%;
	 }

.login { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 { 
	color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; 
	}


input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.logo{
	width:250px;
	height: 150px;
}

.logo-fscf{

	position:absolute;
	width: 200px;
	height:130px;
}
.titre {
border-radius: 77px 0px 77px 0px;
-moz-border-radius: 77px 0px 77px 0px;
-webkit-border-radius: 77px 0px 77px 0px;
background-color: #a1a1a1;
}