#opac{
	position:absolute;
	z-index:10; /*<!-- Superposition d'élements !-->*/
	top: 0px;
	left: 0px;
	width:100%;
	height: auto;
	background-color: #fff;
	opacity: 0.3;
	display: none;
}

.modal{
	position:absolute;
	padding: 10px;
	z-index:10;
	top:140px;
	width: 40%;
	height:50%;
	background-color: #fff;
	text-align: center;
	display: none;
    border-radius: 10px;
    overflow: auto;
	
}

#home{
	height: 25px;
	width: 25px;
}

#formule{
	position : relative;

}