
#dd1,#dd2,#lf1,#lf2,#theme1,#theme2
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;

}

#lieu1,#lieu2,#date_debut1,#date_debut2,#date_fin1,#date_fin2
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;
}

#nbplace1,#nbreplace2,#statut1,#statut2,#action1,#modif1
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;
}


/***************************************************/
	/**********************************/

#dd3,#dd4,#lf3,#lf4,#theme3,#theme4
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;

}

#lieu3,#lieu4,#date_debut3,#date_debut4,#date_fin3,#date_fin4
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;
}

#statut3,#statut4,#doc1,#doc2,#modif3,#consult1
{
border-radius: 0px 0px 0px 0px;
-moz-border-radius: 0px 0px 0px 0px;
-webkit-border-radius: 0px 0px 0px 0px;
border: 1px solid #000000;
background-color: #d7dcf5;
}

.ajout {

	text-align: center;
}

#rond{
border-radius: 60px 60px 0px 0px;
-moz-border-radius: 60px 60px 0px 0px;
-webkit-border-radius: 60px 60px 0px 0px;
border: 0px solid #ffffff;
}

#rond1{
border-radius: 60px 60px 0px 0px;
-moz-border-radius: 60px 60px 0px 0px;
-webkit-border-radius: 60px 60px 0px 0px;
border: 0px solid #ffffff;
}

#rond2{
border-radius: 60px 60px 0px 0px;
-moz-border-radius: 60px 60px 0px 0px;
-webkit-border-radius: 60px 60px 0px 0px;
border: 0px solid #ffffff;
}

#rond3{
border-radius: 60px 60px 0px 0px;
-moz-border-radius: 60px 60px 0px 0px;
-webkit-border-radius: 60px 60px 0px 0px;
border: 0px solid #ffffff;

}

#rond,#rond1,#rond2,#rond3:hover {
color: #e67a88;
}


#rond,#rond1,#rond2,#rond3:active {
    color:blue;
}