a{

	text-decoration: none;

}
ul.tabs, .tabs li {
	margin: 0;
	padding: 0;
	list-style: none;

}

.tabs li{

	float:left;
	display: block ;
}
.tabs:after{
	display: table;
	content: '';
	clear: both;
}

.tabs a{
	display: inline-block;
	background-color: #EEE;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0,0.24) ;
	padding : 10px 15px;
}

.tabs .active a{
	background-color: #FFF;

}

.tabs-content {
	position: relative;
	z-index: 3;
	padding: 20px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0,0.24) ;
	margin-bottom: 20px;
}

.tab-content{
display: none;
}


.tab-content.active{	
	display: block;
}

.fade{
	opacity: 0;
	transition: opacity 0.3s;
}

.fade.in{
	opacity: 1;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.btn 
{
	display: inline-block; 
	*display: inline; 
	*zoom: 1; 
	padding: 4px 10px 4px; 
	margin-bottom: 0; font-size: 13px; 
	line-height: 18px; color: #333333; 
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); 
	vertical-align: middle; background-color: #f5f5f5; 
	background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); 
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
	border: 1px solid #e6e6e6; 
	border-radius: 4px; 
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
	cursor: pointer; 
	*margin-left: .3em; 
  }
.btn:hover,
 .btn:active, 
 .btn.active,
 .btn.disabled,
 .btn[disabled] 
{ 
	background-color: #e6e6e6; 
}
.btn-large { 

	padding: 9px 14px; 
	font-size: 15px; 
	line-height: normal; 
	-webkit-border-radius: 5px; 
	-moz-border-radius: 5px; 
	border-radius: 5px; 
}
.btn:hover { 
	color: #333333; 
	text-decoration: none; 
	background-color: #e6e6e6; 
	background-position: 0 -15px; 
	-webkit-transition: background-position 0.1s linear; 
	-moz-transition: background-position 0.1s linear; 
	-ms-transition: background-position 0.1s linear; 
	-o-transition: background-position 0.1s linear; 
	transition: background-position 0.1s linear; 
}
.btn-primary, 
.btn-primary:hover 
{ 
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); 
	color: #ffffff; 
}
.btn-primary.active 
{ 
	color: rgba(255, 255, 255, 0.75); 
}
.btn-primary { 
	background-color: #4a77d4; background-image: 
	-moz-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); 
	background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); 
	background-image: linear-gradient(top, #6eb6de, #4a77d4); 
	background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  
	border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); 
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }
.btn-block { width: 100%; display:block; }


html { 
width: 100%; height:100%; 
}


body { 
	font-family:sans-serif;
	position: fixed;
	padding: 50px;
	width: 100%;
	height:100%;
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	}

.login { 
	position: relative;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:300px;
}
.login h1 
{ 
	color: #fff; 
	text-shadow: 0 0 10px rgba(0,0,0,0.3); 
	letter-spacing:1px; text-align:center; 
}

input,
textarea,
select
{ 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

.header img {
  float: left;
  width: 100px;
  height: 100px;
  background: #555;
}

