
<!DOCTYPE html>
<html lang="fr">
<head>
 <title>Gelaform</title>

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/icone.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css')}}">
  <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon.ico') }}" />
{% endblock %}

</head>
<body>
{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

 <!--  Emplacement du logo  -->
  <div class="header">
    <img class="logo-fscf" src=" {{ asset('img/logo.png') }} " alt="Logo" />
  </div>

<center>
<div class="login">
<h1 class="titre"> Gelaform 2 </h1>

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}  
  
    <img id="login" src="{{ asset('img/user.svg')}}">
    <label for="username" class="btn " >{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username"  value="{{ last_username }}" required="required" />


    <label for="password" class="btn" >{{ 'security.login.password'|trans }} </label>
    <img id="login" src="{{ asset('img/lock.svg')}}">
    <input src="{{ asset('img/lock-open.svg')}}" type="password" id="password" name="_password" required="required" />

<!--     <input type="checkbox"  id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me" >{{ 'security.login.remember_me'|trans }}</label> -->
    <button type="submit" class="connect" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}">
     <img id="login1" src="{{ asset('img/login.svg')}}"> Se connecter 
   </button>

    
    
</form>
</center>
</div>
</body>
</html>

