
<!DOCTYPE html>
<html>    
<head>
  <meta charset="utf-8" content="Gelaform">
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/tabs.css')}}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/popup.css')}}">    
  <link rel="stylesheet" type="text/css" href="{{ asset('css/icone.css')}}"> 
  <link rel="stylesheet" type="text/css" href="{{ asset('css/table.css')}}"> 
  <link rel="stylesheet" type="text/css" href="{{ asset('css/formulaire-form.css')}}"> 
  {% endblock %}
</head>

<body class="body-form">
  <div>
    <h3 class="btn">
      Home&nbsp;
    <img id="home" src="{{ asset('img/home.svg')}}"> &nbsp;
     </h3>
  </div>
  <div>&nbsp;</div>

  <div class="utilisateur">
    <img id="connecter" src="{{ asset('img/user_connect.svg')}}">
    <div class="wlcme">Bienvenue <br>
      <strong>{{ app.user.username() }}&nbsp;</strong> <br>
      

    </div>
    <div>
      <a href="{{ path('user_logout') }}" class="btn">
      &nbsp; Se déconnecter
      <img id="logout" src="{{ asset('img/log_out.svg')}}"></a>
    </div>

  </div>

  <div>&nbsp;</div>
       
      </div>
    <div id="opac"></div>

    <a href="#" class="modal-active btn" >Proposer une formation &nbsp;
    <img id="plus" src="{{ asset('img/plus.svg')}}"></a>
      <div>&nbsp;</div>

    <div id="theme-form" class="modal">
        <div id="exit">
          <img id="croix" src="{{ asset('img/croix.svg')}}"></div>

          <form action="{{ path('envoie_formation') }}" method="POST">

          
            <div>{{ form_start(form) }}</div>

            <div>{{ form_label(form.dateDemand) }}</div>
            <div>{{ form_errors(form.dateDemand) }}</div>
             <div>{{ form_widget(form.dateDemand) }}</div>

      <!--      *********************************************************************    -->
            <div>{{ form_row(form.libelleFormation) }}</div>
            <div>{{ form_errors(form.libelleFormation) }}</div>
            <div>{{ form_widget(form.libelleFormation) }}</div>
      <!--      *********************************************************************    -->
            <div>{{ form_label(form.theme) }} </div>
            <div>{{ form_errors(form.theme) }} </div>
            <div>{{ form_widget(form.theme) }}</div>      
      <!--      *********************************************************************    -->    

            <div>{{ form_row(form.descriptif) }} </div>
            <div>{{ form_errors(form.descriptif) }} </div>
            <div>{{ form_widget(form.descriptif) }} </div>      

      <!--      *********************************************************************    -->
               
            <div> {{ form_label(form.dateDebut) }}</div>       
            <div>{{ form_widget(form.dateDebut) }}</div>
            <div>{{ form_errors(form.dateDebut) }} </div>  
      <!--      *********************************************************************    -->
            <div> {{ form_label(form.dateFin) }}</div>
            <div> {{ form_widget(form.dateFin) }}</div>
            <div>{{ form_errors(form.dateFin) }} </div>  

      <!--      *********************************************************************    -->
            <div>{{ form_label(form.codePostal) }} </div>
            <div>{{ form_errors(form.codePostal) }}  </div>
            <div>{{ form_widget(form.codePostal) }} </div>
      <!--      *********************************************************************    -->
              <div>{{ form_label(form.lieu) }} </div>          
            <div>{{ form_errors(form.lieu) }} </div>          
            <div>{{ form_widget(form.lieu) }} </div>
       <!--      *********************************************************************    -->
            <div>{{ form_label(form.nbrePlace) }} </div>
            <div>{{ form_errors(form.nbrePlace) }} </div>
            <div>{{ form_widget(form.nbrePlace) }} </div>
      <!--      *********************************************************************    -->
            <div>{{ form_row(form.Valider) }} </div>

      <!--      *********************************************************************    -->              
            <!--           {{ form_start(form) }}  -->
            <div>{{ form_widget(form) }}</div>
            {{ form_end(form) }}
          </form>
        </div>

      </div> 
    </div>   


    <ul class="tabs" >
      <li class="active"  class="btn" ><a href="#forma_demande" id="rond">Formations proposées</a></li>
      <li class=""><a href="#forma_valide" id="rond1">Formations validées</a></li>
      <li class=""><a href="#forma_cours" id="rond2">Formations en cours</a></li>
      <li class=""><a href="#forma_historique" id="rond3">Historique des formations</a></li>
    </ul>

    <div class="tabs-content btn ">

      <div class ="tab-content active" id="forma_demande">
        <table>
        
            <tr>   
              <th  id="dd1" class="">&nbsp;Date demandée &nbsp;</th>
              <th  id="lf1" class="">&nbsp;Libellé de la formation&nbsp;</th>
              <th  id="theme1" class="">&nbsp;Thème&nbsp; </th>
              <th  id="lieu1" class="">&nbsp;Lieu&nbsp;</th>
              <th  id="date_debut1" class="">&nbsp;Date début&nbsp;</th>
              <th  id="date_fin1" class="">&nbsp;Date fin&nbsp;</th> 
              <th  id="nbplace1" class="">&nbsp;Nombre de places&nbsp;</th>           
              <th  id="statut1" class="">&nbsp;Statuts&nbsp;</th>
              <th  id="action1" class="">&nbsp;Actions&nbsp;</th>
            </tr>

<!-- {{ dump(form.vars.value) }} -->



            <tr>

              <td class="ajout">&nbsp;{{ dump(form.vars.value.dateDemand) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.libelleFormation) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.theme) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.lieu) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.dateDebut) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.dateFin) }}&nbsp;</td>
              <td class="ajout">&nbsp;{{ dump(form.vars.value.nbrePlace) }}&nbsp; </td>
              <td class="ajout">&nbsp;En cours&nbsp;</td>
              <td class="ajout">&nbsp;Modification&nbsp; </td>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">30 </td>
              <td class="ajout">En cours</td>
              <td class="ajout">Modification </td>
            </tr>
            </table>
    </div>
<div class="tab-content" id="forma_valide">

        <table>
        
            <tr>   
              <th  id="dd2" class="">&nbsp;Date demandée &nbsp;</th>
              <th  id="lf2" class="">&nbsp;Libellé de la formation&nbsp;</th>
              <th  id="theme2" class="">&nbsp;Thème&nbsp; </th>
              <th  id="lieu2" class="">&nbsp;Lieu&nbsp;</th>
              <th  id="date_debut2" class="">&nbsp;Date début&nbsp;</th>
              <th  id="date_fin2" class="">&nbsp;Date fin&nbsp;</th>                  
              <th  id="statut2" class="">&nbsp;Statuts&nbsp;</th>
              <th  id="modif1" class="">&nbsp;Modifier&nbsp;</th>
            </tr>

            <tr>
              <td class="ajout">&nbsp;JJ-MM-AA&nbsp;</td>
              <td class="ajout">&nbsp;Intitulé formation&nbsp;</td>
              <td class="ajout">&nbsp;Sport&nbsp;</td>
              <td class="ajout">&nbsp;Ville&nbsp;</td>
              <td class="ajout">&nbsp;JJ-MM-AA&nbsp;</td>
              <td class="ajout">&nbsp;JJ-MM-AA&nbsp;</td>
              <td class="ajout">&nbsp;En cours&nbsp;</td>
              <td class="ajout">&nbsp;Modification &nbsp;</td>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">En cours</td>
              <td class="ajout">Modification </td>
            </tr>

            </table>
  </div>

    <div class ="tab-content" id="forma_cours">
        <table>
        
           <tr>   
              <th  id="dd3" class="">&nbsp;Date demandée &nbsp;</th>
              <th  id="lf3" class="">&nbsp;Libellé de la formation&nbsp;</th>
              <th  id="theme3" class="">&nbsp;Thème&nbsp; </th>
              <th  id="lieu3" class="">&nbsp;Lieu&nbsp;</th>
              <th  id="date_debut3" class="">&nbsp;Date début&nbsp;</th>
              <th  id="date_fin3" class="">&nbsp;Date fin&nbsp;</th>                  
              <th  id="statut3" class="">&nbsp;Statuts&nbsp;</th>
              <th  id="doc1" class="">&nbsp;Doc émargement&nbsp;</th>
              <th  id="modif1" class="">&nbsp;Modifier&nbsp;</th>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">En cours </td>
              <td class="ajout">Document </td>
              <td class="ajout">Modification </td>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">En cours </td>
              <td class="ajout">Document </td>
              <td class="ajout">Modification </td>
            </tr>


            </table>


      </div>

        <div  class="tab-content" id="forma_historique">    
        <table>
        
            <tr>   
              <th  id="dd4" class="">&nbsp;Date demandée &nbsp;</th>
              <th  id="lf4" class="">&nbsp;Libellé de la formation&nbsp;</th>
              <th  id="theme4" class="">&nbsp;Thème&nbsp; </th>
              <th  id="lieu4" class="">&nbsp;Lieu&nbsp;</th>
              <th  id="date_debut4" class="">&nbsp;Date début&nbsp;</th>
              <th  id="date_fin4" class="">&nbsp;Date fin&nbsp;</th>                  
              <th  id="statut4" class="">&nbsp;Statuts&nbsp;</th>
              <th  id="doc2" class="">&nbsp;Doc émargement&nbsp;</th>
              <th  id="consult1" class="">&nbsp;Consultation &nbsp;</th>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Clôturé </td>
              <td class="ajout">Document </td>
              <td class="ajout">Consulter </td>
            </tr>

            <tr>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Intitulé formation</td>
              <td class="ajout">Sport</td>
              <td class="ajout">Ville</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">JJ-MM-AA</td>
              <td class="ajout">Clôturé </td>
              <td class="ajout">Document </td>
              <td class="ajout">Consulter </td>
            </tr>
            </table>
        </div>

          </div>
        </div>
      </div>

      {% block javascripts %}
<!--       <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.1.min.js"></script> -->
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
      <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/ui-lightness/jquery-ui.css" type="text/css" />
      <script src="{{ asset('js/villes_france.js')}} "></script> 
      <script src="{{ asset('js/datepicker-fr.js')}} "></script>
      <script src="{{ asset('js/calendrier.js')}} "></script>
      <script src="{{ asset('js/jquery-ui.js')}} "></script>
      <script src="{{ asset('js/jquery-ui.min.js')}} "></script>
      <script src="{{ asset('js/popup.js')}} "></script>
      <script src="{{ asset('js/tabs.js')}} "></script>

      {% endblock %}

    </body>
    </html>