<html>
<body>
  {% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tabs.css')}}">
  {% endblock %}
   
<div class='btn'>Inscription de formateur
<form action="" method="POST">

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

</form></div>
</body>
</html>	