<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  -
  {% endblock %}
  <title>Récapitulatif</title>
</head>
<body>
        {{ form_start(form) }}
  <div class="form-group">{{ form_row(form.dateDemand) }}</div>
  <div class="form-group">{{ form_row(form.libelleFormation) }}</div>
  <div class="form-group">{{ form_row(form.dateDebut) }}</div>
  <div class="form-group">{{ form_row(form.dateFin) }}</div>
  <div class="form-group">{{ form_row(form.descriptif) }}</div>
  <div class="form-group">{{ form_row(form.codePostal) }}</div>
  <div class="form-group">{{ form_row(form.lieu) }}</div>
  <div class="form-group">{{ form_row(form.nbrePlace) }}</div>
  <div class="form-group">{{ form_row(form.Valider) }}</div>              
  <!--           {{ form_start(form) }}  -->
      {{ form_widget(form) }}
      {{ form_end(form) }}

      % block javascripts %}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> 
                  <!--        -->
      {% endblock %}
</body>
</html>     


