<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% block title %} GELAFORM{%endblock %}</title>
  {% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css')}}">
  {% endblock %}
  
<script src="script.js"></script>

</div>
</head>
<body>
<div id="container">
  	<div id="header"> 
    <img class="logo" src="{{ asset('img/logo.png')}}">     	       
  	</div>
</div>
<div class="login">
	<h1>Gelaform 2</h1>
    <form action="" method="post">
    	<input type="text" name="user" placeholder="Nom d'utilisateur" required="required" />
        <input type="password" name="password" placeholder="Mot de passe" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Se connecter</button>	</br>
         
    </form>
</body>
</html>
