<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{asset('bootstrap/css/boostrap.min.css') }}"/>
    </head>
    <body>
   <div class="container">
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
             <div class="alert alert-{{ type }}">
                {% for message in messages %}
                   
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
        <script type="text/javascript" src="{{asset('bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
